.login-form {
    width: 25rem;
}

.login-btn {
    background-color: rgba(139, 120, 140, 1) !important;
}

.introduction {
    background-image: linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.74)), url(../img/introduction-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    background-size: cover;
}

.catalog {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 80vh;
}

.catalog img {
    width: 506px;
    height: 344px;
}

.slide-item {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .back-img {
        display: none !important;
    }

    .front-img {
        position: static !important;
    }
}

.menu img {
    width: 80%;
}

.background-1 {
    background-image: url(./assets/background-1.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 80vh;
}

.background-2 {
    background-image: url(./assets/background-2.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 80vh;
}

.background-about {
    background-image: url(./assets/background-1.png);
    background-position: start;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}

.background-products {
    background-image: url(./assets/background-1.png);
    background-position: start;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.cta {
    background-color: var(--color-blue);
    padding: 5px;
    border-radius: 50px;
    text-decoration: none;
}